<nav class="navbar navbar-light fixed-top navbar-custom bg-dark ">
  <a class="navbar-brand" href="#">
        <img src="/assets/feedtalk.png"  height="40" width="100" class="d-inline-block align-top" alt="">
      </a>
  <span class="navbar-text text-center text-white">
        Administration Console
        </span>
</nav>

<div class="row whole-container">
  <div class="col-sm-2">
    <div class="nav-side-menu">
      <div class="brand">Menu</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
          <li>
            <a href="#">
                        <i class="fa fa-dashboard fa-lg"></i> Dashboard
                        </a>
          </li>

          <li data-toggle="collapse" data-target="#products" class="collapsed">
            <a href="#"><i class="fa fa-gift fa-lg"></i>Feeds<span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="products">
            <li><a routerLink="/feedUpload" href="#">New Feed</a></li>
            <li><a href="#">Edit Feed</a></li>
            <li><a routerLink="/feedList" href="#">All Feeds</a></li>
          </ul>
          <li>
            <a href="#">
                        <i class="fa fa-user fa-lg"></i> Profile
                        </a>
          </li>

          <li>
            <a href="#">
                        <i class="fa fa-users fa-lg"></i> Logout
                        </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-10" style="padding:30px;">
    <router-outlet></router-outlet>
  </div>
</div>
