<table id="table_id" class="table table-striped table-bordered" >
  <thead>
    <tr>
      <th>FeedID</th>
      <th>Headline</th>
      <th>Topic</th>
      <th>Athour</th>
      <th>Image</th>
      <th>Date</th>
      <th>Content</th>
      <th>Views</th>
      <th>Publish</th>
      <th>Order</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Feed of AllFeeds" style="color:dimgray;">
      <th>{{Feed.feedId}}</th>
      <th>{{Feed.headline}}</th>
      <th>{{Feed.catagory}}</th>
      <th>{{Feed.authourName}}</th>
      <th>
        <img src='{{Feed.headLineImage}}' height="80px" width="80px" />
      </th>
      <th>{{Feed.publishingDate}}</th>
      <th>
        <a style="text-decoration: underline;color:blue;cursor: pointer;" (click)="preview(Feed.urlLink)">View</a><br>
        <a style="text-decoration: underline;color:blue;cursor: pointer;" (click)="edit(Feed.urlLink)">Edit</a>
      </th>
      <th>{{Feed.views}}</th>
      <th>
        <select id="ispublished{{Feed.feedId}}" value="{{Feed.published}}">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </th>
      <th>
        <input style="width: 60px;" id="viewOrder{{Feed.feedId}}" class="form-control" type="text" value="{{Feed.viewOrder}}">
      </th>
      <th>
        <input type="button" class="btn btn-sm btn-outline-primary" value="Update" (click)="updateFeed(Feed,Feed.feedId)">
      </th>
    </tr>
  </tbody>
</table>
