
  .logincard {
    float: none;
    margin: 0px auto;
    margin-top: 50px;
   
  }
  
  .form-input-row{
      margin-bottom: 10px;
  }

  .navbar-custom{
    
  }
  .whole-container{
      margin-top: 60px;
      
  }
 .verified_url{
   background-color: palegreen !important;
 }
 .verified_url_Exist{
  background-color:indianred !important;
}